$color-primary: #189ed2
$color-primary-light: #43b8e6
$color-primary-dark: #004d6b
$color-secondary: #0dc6af

$color-white: #fff
$color-bg: #f5f5f5

$gradient-aside: linear-gradient(45deg, $color-primary-light, $color-primary-dark)
